#li:hover svg{
    transform: scale(1.1);
}
#li2:hover svg{
    transform: scale(1.1);
}
#li3:hover svg{
    transform: scale(1.1);
}
#li4:hover svg{
    transform: scale(1.1);
}
#li5:hover svg{
    transform: scale(1.1);
}
#li6:hover svg{
    transform: scale(1.1);
}
#li7:hover svg{
    transform: scale(1.1);
}
#li8:hover img{
    transform: scale(1.1);
}
#li9:hover svg{
    transform: scale(1.1);
}